.margen-superior-main {

    margin-top: 50px;
    padding: 20px;
}


.color-navbar {

    background-attachment: #1068db;
    background-image: linear-gradient(90deg, #121b96 0%, #2889b6 50%, #2697cc 100%);



}

.color-texto-marca {


    color: #1e3d87 !important;

}



